#root {
  width: 100vw;
  height: 100vh;
}

#appRoot {
  /* Base background color */
  background-color: var(--background);
  color: var(--foreground);

  /* Create horizontal and vertical lines using two linear gradients */
  background-image:
    linear-gradient(to right, var(--subtle) 1px, transparent 1px),
    linear-gradient(to bottom, var(--subtle) 1px, transparent 1px);

  /* Define the size of each grid cell (e.g., 20px x 20px) */
  background-size: 24px 24px;
}

.logo {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  display: inline-block;
}
.logo:hover {
  filter: drop-shadow(0 0 2em var(--primary));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
